@import './static/fonts/fonts.css';

body {
  margin: 0;
  font-family: NanumSquare, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333 !important;
}

h1 {
  font-family: 'NanumSquare ExtraBold' !important;
  font-size: 20pt !important;
  margin: 0 !important;
}

h2 {
  font-family: 'NanumSquare Light';
  font-size: 14pt !important;
  margin: 0 !important;
  @media (max-width: 767px) {
    font-size: 14px !important;
  }
}

.muted {
  color: #888888;
  margin: auto;
  padding-top: 8px;
  width: fit-content;
}

$theme-colors: (
  'primary': #1675e0,
  'danger': #ff4136,
);

.header-toggle {
  color: #333333;
  cursor: pointer;
  @media (min-width: 768px) {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@import 'rsuite/dist/styles/rsuite-default';
@import 'node_modules/bootstrap/scss/bootstrap';
