@import './static/fonts/fonts.css';

body {
  margin: 0;
  font-family: NanumSquare, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

h1 {
  font-family: 'NanumSquare ExtraBold';
  font-size: 20pt !important;
  margin: 0 !important;
}

.muted {
  color: #888888;
  margin: auto;
  padding-top: 4px;
  width: fit-content;
}

$theme-colors: (
  'primary': #eba12a,
  'danger': #ff4136,
);

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@import 'node_modules/bootstrap/scss/bootstrap';
